@keyframes rotar{
    0% {
        transform: rotate(-360deg)
    }
}

.hands{
    position: absolute;
    left: 58px;
    top: 38px;
    animation-name: rotar;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    
}

.hands:hover{
    animation-play-state: paused;
}